{% extends "inc/base.html" %}

{%block content %}
<div>
  <h2 class="mt-5">Ask</h2>
</div>
          <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <textarea  class = "ask" id="title" rows="1" name="tags" cols="60">
              </textarea>
            </div>

          <div class="mb-3">
              <label for="text" class="form-label">Text</label>
              <textarea  class = "ask" id="text" rows="15" name="tags" cols="60">
              </textarea>
            </div>

          <div class="mb-3">
              <label for="tags"  class="form-label">Tags</label>

              <textarea  class = "ask" id="tags" rows="1" name="tags" cols="60">
              </textarea>

            </div>
            <div><button type="submit" class="btn btn-primary">Ask</button></div>



{%endblock content%}
