{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap5 %}
{%block content %}
    <div>
      <h2 class="mt-5">Log in</h2>
    </div>
    <div class="col-6">
        <form novalidate action="{% url 'login' %}" method="post">
        {% csrf_token %}
            {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Submit</button>
        <div> <a href="{% url 'register' %}" class="new-account" > Create new account </a> </div>
        </form>
    </div>

{%endblock content%}
