{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap5 %}
{%block content %}
    <div>
      <h2 class="mt-5">Registration</h2>
    </div>
    <div class="col-6">
        <form novalidate action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="button" class="choose-btn">Choose</button>
        <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

{%endblock content%}}
