{% extends "inc/base.html" %}

{%block content %}
<div>
  <h2 class="mt-5">Registration</h2>
</div>
<div>
  <h3 class="erro"> Email already registered </h3>
</div>
          <div class="col-6">
              <div class="mb-3">
              <label class="form-label">Login</label>
              <input  class="form-control" >
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Nick name</label>
              <input  class="form-control" >
            </div>
              <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
              <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Repeat password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
              <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Chose avatar</label>
                <div class ="question-avatar">
                     <img src="../static/img/1_1.jpg" alt="avatar">
                </div>
                <button type="button" class="choose-btn">Choose</button>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </div>

{%endblock content%}}
