
{% load static %}
<div class ="question p-1">
<div class = "row p-0 m-0">
  <div class ="col-3">
    <div class ="question-avatar">
         <img src="../static/img/1_2.jpg" alt="avatar">
    </div>
        <div class="question-page-like rating-result">
        {% include 'inc/like.html' %}
    </div>
  </div>
  <div class = "col-9">
    <h2><a  class="head-2" href="/question/">{{question.title}}</a></h2>
    <div class="question-text" > {{question.text}}</div>
    <div class = "row">
      <div class="col-4">
        Answer(31)
      </div>
      <div class="col-8">
        Tags: <a href="{% url 'tag' %}">Коты</a>, <a href="{% url 'tag' %}">Домашние животные</a>
      </div>
    </div>
  </div>
</div>
</div>